name: build_and_deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and Deploy
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: |
          corepack enable
          pnpm install
          pnpm docs:build

      - name: Publish
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.SSH_PASS }}
          source: docs/.vitepress/dist/*
          strip_components: 3 # removes docs/.vitepress/dist
          target: ${{ secrets.SSH_PATH }}
          overwrite: true
